@import 'css/reset.css';
@import 'css/variables.css';

/*
font-family: 'Montserrat', sans-serif; 500 700
font-family: 'Fraunces', serif; 700
*/

body {
  background: var(--cream-clr);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 32px;
  margin: 0.625em 0;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--dark-grayish-blue-clr);
  line-height: 23px;
}

.preview-card {
  margin: 2.25rem 1rem;
  border-radius: 0.625rem;
  background: var(--white-clr);
}

.product-image {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  width: 100%;
}

.card-text-container {
  padding: 1.5rem;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  color: var(--dark-grayish-blue-clr);
}

.preview-card-pricing {
  margin: 1.25rem 0;
}

.sale-price {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--dark-cyan-clr);
}

.retail-price {
  font-family: 'Fraunces', serif;
  font-weight: 500;
  font-size: 0.8125rem;
  text-decoration: line-through;
  color: var(--dark-grayish-blue-clr);
}

.add-to-cart-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  width: 100%;
  padding: 1rem 0;
  background: var(--dark-cyan-clr);
  border: none;
  border-radius: 0.5rem;
  color: var(--white-clr);
}

.add-to-cart-btn:hover,
.add-to-cart-btn:focus {
  background: var(--deep-aqua-marine-clr);
}

.cart-svg {
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .preview-card {
    display: flex;
    max-width: 600px;
  }

  .card-image-container {
    width: 100%;
  }

  .card-text-container {
    width: 100%;
  }

  .product-image {
    border-radius: 0.625rem;
  }
}
